html{
    height: 100%;
    box-sizing: border-box;
}
.layui-footer{
    text-align: center;
    font-size: 12px;
}

.iconfont{
    margin-right: 8px;
}
.layui-icon{
    margin-right: 8px;
    margin-left: 20px;
}
iframe{
   display: block;
   border: none;
    width: 100%;
    height: 150vh;
    /* 调整到显示全 */
    
}

/* .layui-body{
    overflow: hidden;
} */

a{
    transition: none !important ;
}

div  .userinfo{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    user-select: none;
    border:1px solid #282b33
}

.text-avatar{
    display:inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: 20px;
    color:#009688;
    position: relative;
    top:4px;
    margin-right: 10px;
}